extends layout

block content
  h1= title
  p #{action} Lead
  form(action="/leads/new", method="POST")
    input(type="email", name="lead_email" placeholder="Enter your email address")
    button(type="submit") Submit
  | 
  a(href='/leads/') Leads
