extends layout

block content
  h1= title
  if leads.length != 0
    for lead in leads
      p
        span #{lead.email}
        | 
        a(href='/leads/' + lead.id) View
        | 
        a(href='/leads/' + lead.id + '/edit') Edit
  else
    p No Leads
  a(href='/leads/new') New
  | 
  a(href='/') Home
